.capture-screen {
    position: relative;
    width: 80%;
    height: 50vh;
    background: #f5f7fa;
    border: 1px solid;
    box-sizing: border-box;
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    padding: 10px;
    gap: 10px;
    overflow: scroll;
}

.content{
    background-color: red;
    padding: 60px;
    text-align: center;

}