.auto-suggest-container{
    width: 400px;
}

.input{
    padding: 4px 10px;
    width: 100%;
}

.auto-suggest-box{
    border: 1px solid;
    width: 100%;
    margin-top: 2px;
    padding: 10px;
    min-height: 100px;
    position: relative;

}
.auto-suggest-item{
    cursor: pointer;
}

.hide-auto-box{
    display: none;
}
.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.toggle-show{
display: block;
}