.switch {
  position: relative;
}
.switch input {
  opacity: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background-color: #ccc;
  border-radius: 100px;
  padding: 2px;
  cursor: pointer;
}

.slider::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: black;
  transition: all 0.3s ease;
}

/**
has psedo selector 
*/
.switch:has(input:checked) .slider {
  background-color: black;
}
.switch:has(input:checked) .slider::before {
  background-color: #ccc;
  left: calc(100% - 22px);
}

.switch:has(input:focus-visible) .slider {
  outline: 4px solid blue;
}
