.drop-box {
  border: 2px dashed #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 200px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.8);
}
